@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../public/font/font.css");
@import url("./transition.css");

body {
  font-family: "Noto Sans KR", sans-serif;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  color: rgb(235, 87, 87);
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
}

code:last-child::after,
code:last-child::before {
  content: none;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply bg-zinc-900;
  @apply text-slate-300;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  overflow-x: hidden;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  color: #fbf1c7;
  background: #7c6f64;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  color: #fbf1c7; /* fg0 */
  background: #7c6f64; /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 8px 0;
  overflow: auto;
  font-size: 14px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  @apply border border-solid border-zinc-900;
  border-radius: 7px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  font-size: 14px;
}

.token {
  font-size: 14px;
  width: 100%;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #808b97;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule,
.token.arrow.operator,
.token.operator {
  color: plum;
}

.token.punctuation {
  color: gold;
}

.token.attr-name {
  @apply text-slate-300;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: #15a5cf;
}

.token.entity,
.token.symbol,
.token.keyword.module {
  color: #59c0ff;
}

.token.css.language-css,
.token.string {
  color: LightGreen;
}

.token.number,
.token.char,
.token.keyword.nil,
.token.class-name {
  color: #ffa657;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a89984;
}

.token.url {
  color: #c0edf6;
  text-decoration: underline;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #a89984;
}

.token.deleted {
  background: #bb8395;
}

.code-line {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  @apply text-slate-200;
}

.token.parameter {
  color: Crimson;
}

.rehype-code-title {
  @apply text-slate-200;
  @apply bg-zinc-800;
  @apply border-sky-100;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 5px 16px;
  font-weight: 100;
  margin-top: 8px;
  font-size: 14px;
}

.rehype-code-title + pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

pre {
  overflow-x: auto;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 20px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  font-size: 14px;
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.3); /* Set highlight bg color */
  border-left-width: 4px;
  font-size: 14px;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}
.token.keyword.control-flow {
  color: skyblue;
}

.token.function,
.token.method.function.property-access,
.token.function-variable.function {
  color: CornflowerBlue;
}
.token.maybe-class-name {
  color: MediumTurquoise;
}

.token.constant {
  color: Tomato;
}
